.Pagination {
  width: 100%;
  margin: 20px auto;
  text-align: center;

  & > * {
    padding: 5px;
    margin: 10px;
    width: fit-content;
  }

  .page {
    cursor: pointer;

    &.disable {
      opacity: 40%;
      cursor: auto;
    }
  }
}
